$navbar-default-bg: black;

@import "bootstrap-sprockets";
@import "bootstrap";

.center {
  text-align: center;
}

#logo {
  float: left;
  font-size: 1.7em;
  color: #fff;
  text-transform: uppercase;
  letter-spacing: -1px;
  font-weight: bold;
}

#logo:hover {
  text-decoration: underline;
}

.description {
  margin-top: 0;
}

.well a {
  color: black;
}
 
.col-md-8.well {
  background-color:rgba(0, 0, 0, 0.3);
  color: gray;
}

.review-actions {
  padding-top: 5px;
  a {
    color: gray;
  }
}